<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.b00sti.tripchallenge">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_key"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCrPpgZNmj8czmaY27Hk1_8seTsEJ29Z3o"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>

        <activity
            android:name=".main.MainActivity_"
            android:label="@string/app_name"
            android:theme="@style/Theme.MainWithoutActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".main.InnerViewActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="tak"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name=".ui_sign_up.SignUpActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="tak"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name=".ui_log_in.LogInActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="tak"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

    </application>

</manifest>